.login-card {
  min-height: 40vh;
}

.registerMessage {
  margin-top: 10vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
